<div class="row">
<!--  <div style="padding-left: 15px;">Before the workshop: please fill in the <a href="{{ site.pre_survey }}{{ site.github.project_title }}">pre-workshop survey</a></div>-->
  <div class="col-md-4">
    <h3>Day 1, 8 June 2021, 09:30 - 12:30</h3>
    <table class="table table-striped">
      <tr> <a href="https://swcarpentry.github.io/shell-novice" target="_blank">Automating Tasks with shell</a></td> </tr>
      <tr> <td>Break</td> </tr>
      <tr> <td><a href="https://swcarpentry.github.io/shell-novice" target="_blank">Automating Tasks with shell</a></td> </tr>
      <tr> <td>Break</td> </tr>
      <tr> <td><a href="https://swcarpentry.github.io/shell-novice" target="_blank">Automating Tasks with shell</a></td> </tr>
      <tr> <td>Wrap-up</td> </tr>
    </table>
  </div>
  <div class="col-md-4">
    <h3>Day 2, 9 June 2021, 09:30 - 12:30</h3>
    <table class="table table-striped">
      <tr> <td><a href="http://swcarpentry.github.io/python-novice-gapminder/" target="_blank">Building Programs with Python</a></td> </tr>
      <tr> <td>Break</td> </tr>
      <tr> <td><a href="http://swcarpentry.github.io/python-novice-gapminder/" target="_blank">Building Programs with Python</a></td> </tr>
      <tr> <td>Break</td> </tr>
      <tr> <td><a href="http://swcarpentry.github.io/python-novice-gapminder/" target="_blank">Building Programs with Python</a></td> </tr>
      <tr> <td>Wrap-up</td> </tr>
    </table>
  </div>
  <div class="col-md-4">
    <h3>Day 3, 10 June 2021, 09:30 - 12:30</h3>
    <table class="table table-striped">
      <tr> <td><a href="http://swcarpentry.github.io/python-novice-gapminder/" target="_blank">Building Programs with Python</a></td> </tr>
      <tr> <td>Break</td> </tr>
      <tr> <td><a href="http://swcarpentry.github.io/python-novice-gapminder/" target="_blank">Building Programs with Python</a></td> </tr>
      <tr> <td>Break</td> </tr>
      <tr> <td><a href="http://swcarpentry.github.io/python-novice-gapminder/" target="_blank">Building Programs with Python</a></td> </tr>
      <tr> <td>Wrap-up</td> </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
      <h3>Day 4, 11 June 2021, 09:30 - 12:30</h3>
      <table class="table table-striped">
        <tr> <td><a href="https://southampton-rsg.github.io/2020-05-21-southampton-swc/novice/git/index.html" target="_blank">Version Control with Git</a></td> </tr>
        <tr> <td>Break</td> </tr>
        <tr> <td><a href="https://southampton-rsg.github.io/2020-05-21-southampton-swc/novice/git/index.html" target="_blank">Version Control with Git</a></td> </tr>
        <tr> <td>Break</td> </tr>
        <tr> <td><a href="https://southampton-rsg.github.io/2020-05-21-southampton-swc/novice/git/index.html" target="_blank">Version Control with Git</a></td> </tr>
        <tr> <td>Wrap-up</td> </tr>
      </table>
  </div>
  <div class="col-md-4">
  </div>
</div>
